.headline {
  height: 90vh;
  background-image: url("./images/Header\ bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 100px;
}

footer {
  border-radius: 100px 0 0 0;
}
